*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
    padding: 0 0;
    margin: 0 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ,'Open Sans';
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

div {
    display: block;
}
p {
    padding: 0 0;
    margin: 0 0;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
hr{
	color: #ef664d;
}
.header{
	background-color: #7e7e7e;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size:cover;
	min-height: 550px;
}
.header {
  min-height: 5em;
}
.header-top {
	padding-top: 1em;
}
.logo{
	float:left;
	
}
.logoim{
	
}
.top-menu{
	float:right;
}
.top-menu ul li{
	display: inline-block;
	padding: 5px 15px 0px 15px;
}
.top-menu ul li a{
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	
}
.top-menu ul li a:hover {
	color: #f5b4b4;
	
	
}
.top-menu ul li a.active {
	color: #f5b4b4;
	font-weight: 600;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about-section {
	padding:3em 0;
}
.about-sectiongrids {
    padding: 40px 0px;
}
.about-header {
	text-align: center;
}
.about-header h3 {
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #7e7e7e;
}
.about-header h3 span {
	color: #f5b4b4;

}
.about-sectiongrids h3{
	font-size: 2.5em;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #7e7e7e;

}
.about-imag {
	float: left;
	width:27%;
	margin-right:5%
}
.about-imag img {
	border: 2px solid #7e7e7e;
    border-radius: 103px;
    width: 80%;
    height: 50%;
}
.about-text {
	float: left;
	width: 50%;
    margin-top: 3%;
    margin-left: 1.5rem;
}
.about-text p {
	font-size: 15px;
	color: #7e7e7e;
	line-height: 1.5em;
}
.about-sectiongrids{
	padding: 40px 0px;
}
.clearfix:before,
.clearfix:after{
	display: table;
	content: " ";
}


.col-md-6-about-leftgrid{
	
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 50%;
	box-sizing: border-box;
	
    padding: 15px;
	

}

.polls {
	padding: 10px 0;
}
.poll-desc {
	float: left;
}

.poll-desc h4{
	font-size: 17px;
	color: #2a404e;
	font-weight:bold;

}
.percentage {
    float: right;
    margin-right: 26%;
}
.percentage p {
    font-size: 17px;
    color: #2a404e;
    font-weight: bold;
}
.clearfix{
display: table;
    content: " ";
	clear: both;
}
.skills {
	width: 220%;
    margin: 0px;
    height: 10px;
    background: #dedede;
}
.skills > div {
    height: 100%;
    display: block;
    background-color: #c7abf6;
}
.services{
display: block;
    margin: 0 auto;
	clear: both;
	padding: 80px 0;
	text-align: left;
    word-wrap: break-word;
	display: table;
    content: "";
}
.sectiontitle {
    display: block;
    max-width: 55%;
    margin: 0 auto 80px;
    text-align: center;
	word-wrap: break-word;
}
.sectiontitle h3{
	font-size: 2em;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #7e7e7e;
    text-align: center;
}





footer{
    background-color: #7e7e7e;
    min-height: 10vh;
    margin-top : 15vh;
	color: white;
    
}
.footer-items{
    flex-direction: row;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;

}
.footer-items > li {
    margin : 10px auto ;
}
.copy-right{
    color: white;
    text-align: center;
    margin-top : 10px
}

row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
	padding-left: 36vh;
	padding-right: 30vh;

}
footer {
    display: block;
    position: relative;
    transition: 0.4s ease;
}
.row{
	margin-top: 0px;
}
.img-ser{
	width: 250%;
	height:300px;
}

.s{
  width: 100%;
  align-content: center;
	  justify-content: center;
}
.dim{
  width: 100%;
 height: 300px;
 align-content: center;
 justify-content: center;
 position: relative;
 background: #fff;
 display: flex;
 flex-direction: row;
 margin-top: 2rem;
 padding-top: 5rem;

}
.item2{
  width: 50%;
  height: 300px;
  align-content: center;
  justify-content: center;
  display: block;
  position: relative;
  left: 3rem;
  padding: 20px;
 
}
.it-im{
padding-right: .3rem;
 
 height: 90%;
 width: 90%;
 position: relative;
 left: 4rem;
 
	 
 
 
}
 he{
	padding-right: .3rem;
 
 height: 90%;
 width: 90%;
 position: relative;
 left: 4rem;
 
}
.it-p1{
 font-size: 200%;
 padding-left:50% ;
}
.poll{
	display: inline;
}
.contact{
	position: relative;
	min-height: 100vh;
	padding: 0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
}
.contact .conten{
	min-width: 800px;
	text-align: center;

}
.contact .conten h2 {
	font-size: 2.5em;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #7e7e7e;

	
}
.contact .conten p {
	font-weight: 300;
	color: #7e7e7e;


}
.contin{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	padding-right: ;

}
.contin .contactinfo{
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	padding-right: 100px;
}
.contin .contactinfo .box{
position: relative;
padding: 0px 3px;
display: flex;

}
.contin .contactinfo .box .icon{

	min-width: 60px;
	height: 60px;
	background-color: #c7abf6;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.contin .contactinfo .box .text{

	display: flex;
	margin-left: 10px;
	font-size: 12px;
	color: #7e7e7e;
	flex-direction: column;
	font-weight: 300;

}
.contin .contactinfo .box .text h3{


	color: #7e7e7e;
	
	font-weight: 500;
	
}
.contactform{
	width: 120%;
	padding-left: 40%;
    padding-right: 40%;
	background: #7e7e7e;
    height: 40%;

}
.contactform h2{
	font-size: 2em;
    font-family:  serif;
    font-weight: 100;
    color: #fff;


}
.contactform .inputBox{
	width: 100%;
	margin-top: 10px;
	position: relative;
}
.contactform .inputBox input ,textarea{
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #fff;;
	outline: none;
	resize: none;
}
.contactform .inputBox span{
	position: absolute;
	left:0 ;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #7e7e7e;
}


.contactform .inputBox input:focus ~span ,
.contactform .inputBox input:valid ~span,
.contactform .inputBox textarea:focus ~span ,
.contactform .inputBox textarea:valid ~span
{
	color: #fff;
	font-size: 15px;
	transform: translateY(-30px);}
    .contactform .inputBox input[type="submit"]{
        width: 100px;
        background: #fff;
        color: #000;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
    }
	.dim .conten  h2{
		font-size: 2.5em;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #7e7e7e;
	text-align: center;

	}
	