:root{
    --main-black-color : #2f1b0e;
    --main-dark-brown-color : #8c4f26;
    --main-light-brown-color : #a36b36;
    --nav-text-color : #554f4c ;
    --brand-btn-color : #634832;
}   

* {
    padding:  0px;
    margin: 0px ;
    box-sizing: border-box;
}
body , html {
    overflow-x: hidden;
    font-family:sans-serif ;
}
header{
    position: relative;
    width: 100%;
}
ul {
    margin:  0px ;
    padding: 0px ;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
nav{
   
    width: 100%;
    height: 10%;
    padding: 0px 4%;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    background-color: rgb(116 92 94);
}
.logo{
    color: rgb(203 189 190);
}
.logo h1{
    font-size:  20px;
}
.nav-items{
    display: none;
}

.brand{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #e0d7ce; 

   
    background-position: center;
    background-size: cover;
}
.brand-content{
    text-align: center;
    margin-top: 4%;
}
.brand-content > * {
    margin-top: 12px;
}

main{
    min-height: 150vh;
    overflow: hidden;
    transition: 0.4s ease;
}
.upper-side{
    /* margin-top: 13%; */
    max-height: 40vh ;
    margin : 13% auto 0px auto ;
    transition: 0.4s ease;
}
.upper-side .row{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.icon-item{
    position: relative;
    margin : 10px;
    max-width: 140px;
    min-width: 140px;
    max-height: 110px;
    min-height: 110px;
    overflow : hidden ;
    box-shadow: 1px 1px 14px 0px #e0e0e0;
}
.icon-item .icon-item-img{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-item img{
    width: 50%;
    height: auto;
    margin-bottom: 6px;
}

.article-section{
    position: relative;
    margin-top : 20vh;
    min-height: 2vh;
    overflow : hidden;
    justify-content: center;
    /* display: flex; */
    flex-wrap: wrap;
}

.article-section .row{
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}


.article-items{
   
        /* width: 100%; */
        position: relative;
        margin: 10px;
        /* min-width: 530px; */
        /* max-width: 360px; */
        min-height: 310px;
        max-height: 310px;
    }
.article-item{
    position: absolute;
    justify-self: center;
    /* margin: auto; */
    color: white;
    margin-bottom: auto;
    /* bottom: 0px; */
    padding: 20px;
}
.article-item > * {
    margin-top : 10px;
}

.article-btn{
    padding :10px; 
    border : none ;
}
.item1 {
   
        background: linear-gradient(
    45deg , rgb(241 195 198) , rgb(173 159 162)) , url(assets/img1.jfif);
    
   
}
.item3 {
    background:  linear-gradient(45deg , rgba(0,0,0,0.2) , rgba(0,0,0,.7)) , url('assets/img2.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item3 {
    background:  linear-gradient(45deg , rgba(0,0,0,0.2) , rgba(0,0,0,.7)) , url('assets/img3.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item4 {
    background:  linear-gradient(45deg , rgba(0,0,0,0.2) , rgba(0,0,0,.7)) , url('assets/img4.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    padding: 0px 4%;
    
}
footer{
    background-color: var(--main-black-color);
    min-height: 10vh;
    margin-top : 15vh;
    
}
.footer-items{
    flex-direction: row;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;

}
.footer-items > li {
    margin : 10px auto ;
}
.copy-right{
    color: white;
    text-align: center;
    margin-top : 10px
}

row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
footer {
    display: block;
    position: relative;
    transition: 0.4s ease;
}



  
@media all and (min-width:620px) {
    .container{
        padding : 0px 12%;
    }
 .nav-items{
    display: flex;
    font-size: 13px;
    align-content: center;
    text-align: center;
    flex: 1;
    width: 100%;
 }
 .nav-items-list{
    display: flex;
    flex-direction: row;
    margin : auto ;
 }
 .nav-items-list  > li{
     margin : auto 10px;
     padding : 10px 5px;
     color : var(--nav-text-color)

 }.nav-items-list  > li:hover{
 }
 .active {
    background-color: rgb(164 131 134);}
 .sub-list{
     display: none;
 }
 .nav-toggle {
     display: none;
 }
 .nav-login{
     display: flex;
     flex-direction: row;
     color: white;
 }
 .nav-login > div{
     margin : auto 10px;
     border : 1px solid var(--main-light-brown-color);
     padding : 7px 10px;
}
.article-section{
    position: relative;
    margin-top : 8vh;
    min-height: 1vh;
    overflow : hidden;
}
.article-items{
    width : 45%
}
.article-section .row{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.footer-items{
}
.footer-items > li {
    margin :  2vh auto;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
.column {
    float: left;
    width: 33.33%;
    padding: 15ch;
}
  
  .column2 {
    float: left;
    width: 33.33%;
    padding: 20px;
    margin-left: 26ch;
    margin-top: 25ch;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
  .row{
      margin-top: 0px;
  }
  img{
      width: 250%;
      height:300px;
  }
  
.s{
    width: 100%;
    align-content: center;
        justify-content: center;
}
.dim{
    width: 100%;
   height: 300px;
   align-content: center;
   justify-content: center;
   position: relative;
   background: #fff;
   display: flex;
   flex-direction: row;
   margin-top: 2rem;
   padding-top: 5rem;

}
.item2{
    width: 50%;
    height: 300px;
    align-content: center;
    justify-content: center;
    display: block;
    position: relative;
    left: 3rem;
    padding: 20px;
   
}
.it-im{
   border-radius: 30px;  
  padding-right: .3rem;
   border-style:solid;
   height: 90px;
   width: 90px;
   position: relative;
   left: 4rem;
       
   
   
}
.it-p1{
   font-size: 25px;
   
}
footer{
    background-color: rgb(116 92 94);
    min-height: 10vh;
    margin-top : 15vh;
    
}
.footer-items{
    flex-direction: row;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;

}
.footer-items > li {
    margin : 10px auto ;
}
.copy-right{
    color: white;
    text-align: center;
    margin-top : 10px
}

row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
footer {
    display: block;
    position: relative;
    transition: 0.4s ease;
}

